.mat-stepper-horizontal {
    margin-top: 8px;
}
  
.mat-form-field {
    margin-top: 16px;
}

form {
    display: flex;
    flex-direction: column;
}

#close-button {
    float: right;
}

.stepper-container {
    margin-top: 1rem;
}

#next-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

#next-done-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

::ng-deep .mat-horizontal-stepper-header{
    pointer-events: none !important;
}

#invalid-credentials {
    display: flex;
    justify-content: center;
}