<button mat-icon-button id="close-button" mat-dialog-close>
    <mat-icon color="warn">close</mat-icon>
</button>

<mat-stepper #stepper class="stepper-container" [linear]="true"
    (selectionChange)="stepChanged($event)">

    <!-- Create Account Form -->
    <mat-step [stepControl]="accountFormGroup">
        <form [formGroup]="accountFormGroup">
            <ng-template matStepLabel>Create account</ng-template>

            <!-- UserName Field -->
            <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput formControlName="username" placeholder="eg. john.doe" autocomplete="off" required>

                <!-- Error messages -->
                <mat-error *ngIf="username?.invalid && (username?.dirty || username?.touched)">
                    <mat-error *ngIf="username?.errors?.required">
                        Required
                    </mat-error>

                    <mat-error *ngIf="username?.errors?.valid">
                        Invalid
                    </mat-error>
                </mat-error>
            </mat-form-field>

            <!-- Password Field -->
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" autocomplete="off" required>
                <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-pressed]="hidePassword">
                    <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>

                <!-- Error messages -->
                <mat-error mat-error *ngIf="password?.invalid && (password?.dirty || password?.touched)">
                    <mat-error *ngIf="password?.errors?.required">
                        Required
                    </mat-error>

                    <mat-error *ngIf="password?.errors?.valid">
                        Must contain lowercase, uppercase, numeric, special character and must be eight characters or longer
                    </mat-error>
                </mat-error>
            </mat-form-field>

            <!-- Confirm Password Field -->
            <mat-form-field appearance="fill">
                <mat-label>Confirm Password</mat-label>
                <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" 
                       formControlName="confirmPassword" autocomplete="off" required>
                <button type="button" mat-icon-button matSuffix 
                        (click)="hideConfirmPassword = !hideConfirmPassword" 
                        [attr.aria-pressed]="hideConfirmPassword">
                    <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>

                <!-- Error messages -->
                <mat-error *ngIf="confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)">
                    <mat-error *ngIf="confirmPassword?.errors?.required">
                        Required
                    </mat-error>

                    <mat-error *ngIf="confirmPassword?.errors?.match">
                        Passwords must match
                    </mat-error>
                </mat-error>
            </mat-form-field>

            <div id="next-button">
                <button mat-stroked-button color="primary" matStepperNext
                        [disabled]="!accountFormGroup.valid">
                    Next
                </button>
            </div>
        </form>
    </mat-step>

    <!-- Details Form -->
    <mat-step [stepControl]="detailsFormGroup">
        <form [formGroup]="detailsFormGroup" (ngSubmit)="onSubmit()">
            <ng-template matStepLabel>Fill out details</ng-template>

            <!-- Name Field -->
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" placeholder="eg. John Doe" autocomplete="off" required>

                <!-- Error messages -->
                <mat-error *ngIf="name?.invalid && (name?.dirty || name?.touched)">
                    <mat-error *ngIf="name?.errors?.required">
                        Required
                    </mat-error>

                    <mat-error *ngIf="name?.errors?.valid">
                        Invalid
                    </mat-error>
                </mat-error>
            </mat-form-field>

            <!-- BirthDate Field -->
            <mat-form-field appearance="fill">
                <mat-label>BirthDate</mat-label>
                <input matInput formControlName="birthDate" [matDatepicker]="picker" 
                        [min]="minDate" [max]="maxDate" 
                        autocomplete="off" readonly required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>

                <!-- Error messages -->
                <mat-error *ngIf="birthDate?.invalid && (birthDate?.dirty || birthDate?.touched)">
                    <mat-error *ngIf="birthDate?.errors?.required">
                        Required
                    </mat-error>
                </mat-error>
            </mat-form-field>

            <!-- Address Field -->
            <mat-form-field appearance="fill">
                <mat-label>Address</mat-label>
                <input matInput formControlName="address" placeholder="eg. Street Parului, number 3" autocomplete="off" required >

                <!-- Error messages -->
                <mat-error *ngIf="address?.invalid && (address?.dirty || address?.touched)">
                    <mat-error *ngIf="address?.errors?.required">
                        Required
                    </mat-error>

                    <mat-error *ngIf="address?.errors?.valid">
                        Cannot contain special caracters "@#$^&*()"
                    </mat-error>
                </mat-error>
            </mat-form-field>

            <mat-error id="invalid-credentials" *ngIf="invalidCredentials">
                Username already exists
            </mat-error>

            <div id="next-done-buttons">
                <button mat-stroked-button color="primary" matStepperPrevious>Back</button>
                <button type="submit" mat-stroked-button color="primary" matStepperNext>Submit</button>
            </div>
        </form>
    </mat-step>
</mat-stepper>
